<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR PRODUCTO</span>
                    
                    <form class="mt-5" [formGroup]="productoForms" (ngSubmit)="agregarProducto()">
                        <div class="mb-3" >
                            <input formControlName="producto" type="text" class="form-control form-control-lg" placeholder="Producto">
                            <div class="text-danger"
                                *ngIf="productoForms.get('producto')?.hasError('required') && productoForms.get('producto')?.touched">
                                <span>El nombre del producto es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3" >
                            <input formControlName="categoria" type="text" class="form-control form-control-lg" placeholder="Categoria">
                            <div class="text-danger"
                                *ngIf="productoForms.get('categoria')?.hasError('required') && productoForms.get('categoria')?.touched">
                                <span>El nombre del producto es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3" >
                            <input  formControlName="ubicacion" type="text" class="form-control form-control-lg" placeholder="Ubicacion">
                            <div class="text-danger"
                             *ngIf="productoForms.get('ubicacion')?.hasError('required') && productoForms.get('ubicacion')?.touched">
                                <span>El nombre del producto es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3" >
                            <input formControlName="precio" type="number" class="form-control form-control-lg" placeholder="Precio">
                            <div class="text-danger"
                                *ngIf="productoForms.get('precio')?.hasError('required') && productoForms.get('precio')?.touched">
                                <span>El nombre del producto es <strong>obligatorio</strong></span>
                            </div>
                        </div>
                        
                        <div class="mb-3 mt-5">
                            <button type="submit" [disabled]="productoForms.invalid" class="btn btn-success float-start">Aceptar</button>
                            <button class="btn btn-danger float-end" routerLink="/">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
</div>